<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- 
    //////////////////////////////////////////////////////

    FREE HTML5 TEMPLATE 
    DESIGNED & DEVELOPED by FREEHTML5.CO
        
    Website:        http://freehtml5.co/
    Email:          info@freehtml5.co
    Twitter:        http://twitter.com/fh5co
    Facebook:       https://www.facebook.com/fh5co

    //////////////////////////////////////////////////////
     --><!-- Facebook and Twitter integration --><meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:url" content="">
<meta property="og:site_name" content="">
<meta property="og:description" content="">
<meta name="twitter:title" content="">
<meta name="twitter:image" content="">
<meta name="twitter:url" content="">
<meta name="twitter:card" content="">
<title>Crew — 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
<!-- Bootstrap Core CSS --><link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Animate CSS --><link href="css/animate.css" rel="stylesheet">
<!-- Owl Carousel --><link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<!-- Custom CSS --><link href="css/mystyle.css" rel="stylesheet">
<link href="css/theme/style.css" rel="stylesheet">
<!-- Styleswitcher ( This style is for demo purposes only, you may delete this anytime. ) --><link rel="stylesheet" id="theme-switch" href="css/style.css">
<!-- End demo purposes only --><!-- Custom Fonts --><link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700" rel="stylesheet" type="text/css">
<!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> --><!-- Modernizr JS --><script src="js/modernizr-2.6.2.min.js"></script><!--xEpan-ATK-Header-Start
    {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
        {$document_ready}
      });
    </script>
    xEpan-ATK-Header-End-->
</head>
<body>
<div id="colour-variations" class="sleep">
        <a class="option-toggle"><i class="fa fa-gear"></i></a>
        <h3>Preset Colors</h3>
        <ul>
<li><a href="javascript:%20void(0);" data-theme="style"></a></li>
            <li><a href="javascript:%20void(0);" data-theme="pink"></a></li>
            <li><a href="javascript:%20void(0);" data-theme="blue"></a></li>
            <li><a href="javascript:%20void(0);" data-theme="turquoise"></a></li>
            <li><a href="javascript:%20void(0);" data-theme="orange"></a></li>
            <li><a href="javascript:%20void(0);" data-theme="lightblue"></a></li>
            <li><a href="javascript:%20void(0);" data-theme="brown"></a></li>
            <li><a href="javascript:%20void(0);" data-theme="green"></a></li>
        </ul>
</div>
    <!-- jQuery -->
    <!-- <script src="js/jquery.min.js"></script> -->
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <!-- <script src="js/jquery.waypoints.min.js"></script> -->
    <!-- <script src="js/owl.carousel.min.js"></script> -->

    <!-- For demo purposes only styleswitcher ( You may delete this anytime ) -->
    <script src="js/jquery.style.switcher.js"></script>
    <!-- jQuery Easing -->
    <!-- <script src="js/jquery.easing.1.3.js" style=""></script><!-- Bootstrap -->
    <!-- <script src="js/bootstrap.min.js" style=""></script><!-- Waypoints -->
    <!-- <script src="js/jquery.waypoints.min.js" style=""></script>Owl Carousel -->
    <!-- <script src="js/owl.carousel.min.js" style=""></script> -->
    <!-- For demo purposes only styleswitcher ( You may delete this anytime ) -->
    <!-- <script src="js/jquery.style.switcher.js" style=""></script> -->
    <script style=""> 
    $(function(){
        $('#colour-variations ul').styleSwitcher({
            defaultThemeId: 'theme-switch',
            hasPreview: false,
            cookie: {
                expires: 30,
                isManagingLoad: true
            }
        }); 
        $('.option-toggle').click(function() {
            $('#colour-variations').toggleClass('sleep');
        });
    });
    </script>
    <!-- End demo purposes only --><!-- Main JS (Do not remove) -->
    <!-- <script src="js/main.js" style=""></script> -->
    
    <div id="f28c99c5-a8f1-4e62-a188-8aff278c918c" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable fh5co-header" scrollamount="" data-extra-classes="fh5co-header"><div id="9d7cd88e-42b5-4cfd-8793-e2d91be9c9f7" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width:85%;margin:0 auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable container" data-extra-classes="container" scrollamount="">

<div id="32bc4c24-fefc-4ebd-d93e-975b4f03f21c" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" contenteditable="false"><nav class="navbar navbar-default"><div class="navbar-header">
<!-- Mobile Toggle Menu Button --> <a class="navbar-brand" href="index.html" data-mce-href="index.html">Crew</a><br data-mce-bogus="1">
</div>
<div id="navbar" class="navbar-collapse collapse"><ul class="nav navbar-nav navbar-right">
<li class="active">
<a href="#" data-nav-section="home" data-mce-href="#">Home</a><br data-mce-bogus="1">
</li>
<li class="">
<a href="#" data-nav-section="about" data-mce-href="#">About﻿</a><br data-mce-bogus="1">
</li>
<li>
<a href="#" data-nav-section="services" data-mce-href="#">Services</a><br data-mce-bogus="1">
</li>
<li>
<a href="#" data-nav-section="features" data-mce-href="#">Features</a><br data-mce-bogus="1">
</li>
<li>
<a href="#" data-nav-section="testimonials" data-mce-href="#">Testimonials</a><br data-mce-bogus="1">
</li>
<li>
<a href="#" data-nav-section="pricing" data-mce-href="#">Pricing</a><br data-mce-bogus="1">
</li>
<li>
<a href="#" data-nav-section="press" data-mce-href="#">Press</a><br data-mce-bogus="1">
</li>
</ul></div></nav></div>
</div></div>
<div id="e12df694-414a-4e42-e33e-440f7845f484" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: auto; margin: 0px auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable" scrollamount="">
<div id="f849e8e7-9e98-47d9-8c7e-3decc16cdb83" xepan-component="xepan/cms/Tool_TemplateContentRegion" emptytext="Page Content" class="xepan-component xepan-page-wrapper ui-sortable" style="min-height: 200px;">{$Content}</div>

<div class="xepan-cms-tool undefined ui-draggable" data-toolname="xepancmsTool_BootStrapMenu" style="display: none;">
<img src="./vendor/xepan/cms/templates/images/default_icon.png" onerror='this.src="./vendor/xepan/cms/templates/images/default_icon.png"'><p>BootStrapMenu</p>
</div>
<div class="xepan-cms-tool undefined ui-draggable" data-toolname="xepancmsTool_Text" style="display: none;">
<img src="./vendor/xepan/cms/templates/images/default_icon.png" onerror='this.src="./vendor/xepan/cms/templates/images/default_icon.png"'><p>Text</p>
</div>
</div>

<div id="714fd22f-350b-410e-b973-e6b94890a10e" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width:85%;margin:0 auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable"><div class="xepan-component-hoverbar"></div></div>


<style style="">*{ cursor: move !important; }</style>
<div></div>
<style style="">*{ cursor: move !important; }</style>
<div></div>
<script type="text/javascript">
  $(function() {
    var header = $(".fh5co-header");
    $(window).scroll(function() {    
      var scroll = $(window).scrollTop();
        if (scroll <= 100) {
          header.removeClass('navbar-fixed-top fh5co-animated slideInDown');
        } else {
          header.addClass('navbar-fixed-top fh5co-animated slideInDown');
        }
      });
    });
</script>
</body>
</html>
